/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.result-container {
    background-color: #fff;
    padding: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.alert {
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    display: none;
}

.alert p {
    margin: 0;
}

.result-template {
    margin-top: 20px;
}

.result-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    text-align: left;
}

.result-details h2 {
    color: #333;
    margin-bottom: 10px;
}

.result-details p {
    margin: 8px 0;
}

.result-details strong {
    font-weight: bold;
}
